<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/86237f722d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark {{moveElementToRight}}">
        <div class="mx-auto text-center navbar-flex-item">
            <a class="navbar-brand">Rafael's stuffed animals</a>

            <ul class="navbar nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/create">Create new</a>
                </li>
            </ul>
        </div>

        {{#if currentUser}}
            <ul class="navbar nav mx-auto text-center">
                <li class="nav-item nav-text">
                    Hello {{currentUser}}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        {{else}}
            <ul class="navbar nav mx-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/sign-up">Sign up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-btn" href="/login">Log in</a>
                </li>
            </ul>
        {{/if}}


    </nav>

    {{#if sidebarIsNeeded}}

        <div id="sidebar" class="sidebar ">
            <div id="openNav" style="display: none" onclick="openNav()">
                <i class="fas fa-bars icon"></i>
            </div>
            <div id="sidebar__content">
                <div class="text-center" onclick="closeNav()">
                    <i class="fas fa-times icon__cross icon"></i>
                </div>
                <p class="text-center sidebar__title">Categories</p>

                <hr>

                {{# each categories}}
                    <div class="sidebar__category">
                        <p class="sidebar__category__btn" onclick="toggleDropDown(this)">{{this.name}}
                            <i class="fas fa-sort-down transition"></i>
                        </p>
                        <div class="dropdown">
                            {{# each this.subcategories}}
                                <a class="dropdown-item" href="{{this.url}}">{{this.name}}</a>
                            {{/each}}
                        </div>
                    </div>

                {{/each}}
            </div>

        </div>
    {{/if}}



    <div id="content" class="{{moveElementToRight}}">

        <div style="position: relative;" class="container mt-4">
            <!-- Where we want to output the rest of the template/views use triple curly braces -->
            {{{body}}}

        </div>
        <!--
        <div class="chat-container chat-container__closed">
            <div class="toggle-chat-bot">
                <p style="cursor: pointer" onclick=openChatBot()>Click me to open chat bot</p>
            </div>
            <div class="chat-bot">
                <span onclick=closeChatBot()>x</span>
                <iframe src='https://webchat.botframework.com/embed/kb-quickstart-bot?s=LhyxGaj4JN8.s1k3Er81JuSLNQ-zYsrf3uQ9-KDIOzsXsr4bQeQCeR8'
                        style='max-width: 400px; width: 100%; min-height: 500px;'></iframe>
            </div>
        </div>
        -->
    </div>


    <script src="../../javascript/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
