<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/86237f722d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/main.css">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <title>{{title}}</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark {{#if popUp}}blur-background{{/if}}
        {{#if sidebarIsNeeded}} margin-left{{/if}}">
        <div class="navbar">
            <div class="text-center nav-icon-cont">
                <img class="nav-icon" src="../../assets/apple-touch-icon.png" alt="logo">
                <a href="/" class="navbar-brand">Rafael's Stuffed Animals</a>
            </div>

            <ul class="navbar nav text-center nav__list">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/create">Create New</a>
                </li>
            </ul>
        </div>

        {{#if currentUser }}
            <ul class="navbar nav mx-auto text-center">
                <li class="nav-item user-greeting">
                    Hello {{currentUser}}
                </li>
                <li class="nav-item active">
                    <a class="nav-btn" href="/logout">Log out</a>
                </li>
            </ul>
        {{else}}
            <ul class="navbar nav text-center pb-4 nav__list">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-btn" href="/login">Log in</a>
                </li>
            </ul>
        {{/if}}
    </nav>

    {{#if sidebarIsNeeded}}

        <div id="sidebar" class="sidebar {{#if popUp}}blur-background{{/if}}">
            <div id="open-sidebar__btn" class="text-center" onclick="openSidebar()">
                <i class="fas fa-bars icon"></i>
            </div>
            <div style="min-height: 95vh;" id="sidebar__content" class="d-flex flex-column justify-content-between ">
                <div>
                    <div class="text-center" onclick="closeSidebar()">
                        <i class="fas fa-times icon-times icon"></i>
                    </div>
                    <p class="text-center mb-2 mt-4 sidebar__title">Categories</p>
                    <hr>
                    {{# each categories}}
                        <div class="sidebar__category mx-auto p-2">
                            <p class="sidebar__category__btn d-flex justify-content-between align-items-baseline mb-0"
                               onclick="toggleDropDown(this)">
                                {{this.name}}
                                <i class="fas fa-sort-down transition"></i>
                            </p>
                            <div class="dropdown">
                                {{# each this.subcategories}}
                                    <a class="dropdown-item" href="{{this.url}}">{{this.name}}</a>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div>
                    <p style="font-size: 0.8rem" class="text-center mb-1">Please visit</p>
                        <a style="gap: 0.5em" class="sidebar__link d-flex justify-content-center align-content-center
                        mb-0"
                           href="">
                            <img height="20px" width="20px" src="../../assets/apple-touch-icon.png" alt="logo">
                            RSA homepage
                        </a>

                </div>
            </div>

        </div>
    {{/if}}

    <div id="content" class="{{#if sidebarIsNeeded}}margin-left{{/if}}">
        <div style="position: relative;" class="container mt-4">
            <!-- Where we want to output the rest of the template/views use triple curly braces -->
            {{{body}}}
        </div>
    </div>

    <div class="pop-up-message text-center {{#if query.popUpMessage}} pop-up-message_animation {{else}}hidden{{/if}}">
        {{#if query.itemIsDeleted}}
            <p>Item deleted</p>
        {{else if query.newItemCreated}}
            <p>New item created</p>
        {{/if}}
    </div>

    <footer>
        <p style="font-size: 0.8rem" class="text-center mb-1">Please visit</p>
        <a style="gap: 0.5em" class="footer__link d-flex justify-content-center align-content-center mb-2"
           href="">
            <img height="20px" width="20px" src="../../assets/apple-touch-icon.png" alt="logo">
            RSA homepage
        </a>

    </footer>

    <script src="../../javascript/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
