<div class="form-template box">
    <h2 class="text-center">Create new stuffed animal</h2>
    <form action="/item" method="POST">

        <div class="form-group mt-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Give it a name"
                   value="{{values.name}}" required>
            {{#each errors.name}}
                <p class="form-text error">{{this}}</p>
            {{/each}}
        </div>

        <div class="form-group mt-2">
            <label for="animal">Animal breed</label>
            <select class="form-control" id="animal" name="animal" required>
                {{# categories.breeds}}
                    {{# this.subcategories}}
                        <option {{ifEqualReturnSelected this.name ../../values.animal}}>{{this.name}}</option>
                    {{/this.subcategories}}
                {{/categories.breeds}}
            </select>
            {{#each errors.animal}}
                <p class="form-text error">{{this}}</p>
            {{/each}}
        </div>


        <div class="d-flex justify-content-between mt-2">
            <div class="form-group row-item">
                <label for="size">Size</label>
                <select class="form-control" id="size" name="size" required>
                    {{# categories.sizes}}
                        {{# this.subcategories}}
                            <option {{ifEqualReturnSelected this.name ../../values.size}}>
                                {{this.name}}
                            </option>
                        {{/this.subcategories}}
                    {{/categories.sizes}}
                </select>
                {{#each errors.size}}
                    <p class="form-text error">{{this}}</p>
                {{/each}}
            </div>

            <div class="form-group row-item">
                <label for="color">Color</label>
                <input type="color" class="form-control" id="color" name="color" required
                       value="{{# if values}}{{values.color}}{{else}}#ffa8a8{{/if}}">
                {{#each errors.color}}
                    <p class="form-text error">{{this}}</p>
                {{/each}}
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2">

            <div class="form-group row-item">
                <label for="price">Price €</label>
                <input type="number" min="1" class="form-control" id="price" name="price" placeholder="25"
                       value="{{values.price}}" required>
                {{#each errors.price}}
                    <p class="form-text error">{{this}}</p>
                {{/each}}
            </div>

            <div class="form-group row-item">
                <label for="numberInStock">Number in stock</label>
                <input type="number" min="1" class="form-control" id="numberInStock" name="numberInStock"
                       placeholder="5" value="{{values.numberInStock}}" required>
                {{#each errors.numberInStock}}
                    <p class="form-text error">{{this}}</p>
                {{/each}}
            </div>
        </div>

        <div class="form-group mt-2">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description"
                      placeholder="Enter short description..." required>{{values.description}}</textarea>
        </div>

        <div class="text-center">
            <input class="btn light-btn mt-4" type="submit" value="Create new">
        </div>
    </form>
</div>

