{{#if currentUser}}

<div class="item__content mx-auto mb-4 mt-0">
    <button class="btn light-btn" onclick="goBackToPreviousPage()"><i class="fas fa-arrow-left"></i> Back</button>

    <div class="item mx-auto mb-4 mt-0">
        <h2 class="text-center mb-3">{{item.name}} the {{item.animal}}</h2>
        <table class="table table-bordered mx-auto">

            <thead class="box">
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody class="box">
            <tr>
                <th scope="row">Name</th>
                <td>{{item.name}}</td>
            </tr>
            <tr>
                <th scope="row">Animal</th>
                <td>{{item.animal}}</td>
            </tr>
            <tr>
                <th scope="row">Size</th>
                <td>{{item.size}}</td>
            </tr>
            <tr>
                <th scope="row">Color</th>
                <td style="gap: 1em" class="d-flex">
                    <div style="background-color: {{item.color}}" class="clr-box"></div>
                    <span>{{item.color}}</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{item.description}}</td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td>{{item.price}}€</td>
            </tr>
            <tr>
                <th scope="row">In stock</th>
                <td>{{item.numberInStock}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="item__btn-cont mx-auto mb-4 mt-0">
        <button onclick="{{#if currentUser}}openPopUp('pop-up__delete'){{else}} openPopUp('pop-up__login'){{/if}}"
                class="btn danger-btn">Delete
        </button>
    </div>
</div>

<div class="pop-up pop-up__delete">
    <h2>You are about to remove item</h2>
    <h2><span>{{item.name}} the {{item.animal}}</span></h2>
    <p>Are you sure?</p>
    <div style="gap: 2em" class="d-flex justify-content-center mt-4">
        <form action="/item/{{item._id}}" method="post">
            <input class="btn danger-btn" type="submit" value="Delete"/>
        </form>
        <button onclick="closePopUp('pop-up__delete')" class="btn dark-link-btn">Cancel</button>
    </div>
</div>

<div class="pop-up pop-up__login">
    <h2>You must log in before you can delete the item!</h2>
    <div style="gap: 2em" class="d-flex justify-content-center mt-4">
        <a href="/login" class="btn light-link-btn">Log in</a>
        <button onclick="closePopUp('pop-up__login')" class="btn dark-link-btn">Cancel</button>
    </div>
</div>
