<div class="item">
    <h2>{{{item.name}}} the {{item.animal}}</h2>

    <table class="table table-bordered">

        <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>{{item.name}}</td>
        </tr>
        <tr>
            <th scope="row">Animal</th>
            <td>{{item.animal}}</td>
        </tr>
        <tr>
            <th scope="row">Size</th>
            <td>{{item.size}}</td>
        </tr>
        <tr>
            <th scope="row">Color</th>
            <td>
                <div style="background-color: {{item.color}}" class="item__clr"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{item.description}}</td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td>{{item.price}}€</td>
        </tr>
        <tr>
            <th scope="row">In stock</th>
            <td>{{item.numberInStock}}</td>
        </tr>

        </tbody>
    </table>
</div>
